<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>com.emergentes.controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteControlador</servlet-name>
        <servlet-class>com.emergentes.controlador.ClienteControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaControlador</servlet-name>
        <servlet-class>com.emergentes.controlador.VentaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoControlador</servlet-name>
        <servlet-class>com.emergentes.controlador.ProductoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestControler</servlet-name>
        <servlet-class>com.emergentes.controlador.TestControler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteControlador</servlet-name>
        <url-pattern>/ClienteControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaControlador</servlet-name>
        <url-pattern>/VentaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoControlador</servlet-name>
        <url-pattern>/ProductoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestControler</servlet-name>
        <url-pattern>/TestControler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginControlador</welcome-file>
    </welcome-file-list>
</web-app>
